* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0EE1E1;
    --main-bg: #F8F8F8;
    --input-bg: #E5EEFF;
}

.hero {
    background-color: var(--main-color);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 45svh;
}

.hero-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    width: 50%;
    margin-right: 10em;
}

.hero-text>p {
    font: normal normal normal 20px/29px Heebo;
    text-align: right;
}


.hero-text>h1 {
    font: normal normal 900 66px/97px Heebo;
}

.hero-text>.whatsapp {
    align-self: flex-start;
    margin-bottom: 4em;
    margin-left: 5em;
    border: 5px 5px #fff solid;
    border-radius: 120%;
    background-color: #fff;
    padding: 0.9em;
}

.feats {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg);
    height: 20em;
    width: 20em;
    gap: 1.5em;
}

.card>h3 {
    color: var(--main-color);
    font: normal normal 900 30px/44px Heebo;
}

.card>p {
    font: normal normal normal 15px/22px Heebo;
    text-align: center;
}

section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 55svh;
    margin-top: 2em;
}

.coupon {
    background-color: #F0FFFF;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.coupon h2 {
    font: normal normal 900 46px/67px Heebo;
}

.coupon p {
    font: normal normal normal 15px/22px Heebo;
}

.coupon label {
    font: normal normal bold 13px/19px Heebo;
    direction: rtl;
    align-self: flex-end;
}

.coupon form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    margin: auto;
    margin-top: 1.5em;
}

.map {
    background-color: #0EE1E1;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coupon input,
textarea {
    width: 100%;
    background-color: #E5EEFF;
    border: none;
    border-bottom: #0EE1E1 0.2em solid;
}

.coupon input {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.coupon form input[type=button] {
    font: normal normal bold 20px/28px Heebo;
    background-color: var(--main-color);
    padding: 0.2em;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15svh;
    border-bottom: var(--main-color) 1em solid;
}

footer div {
    background-color: #0EE1E1;
    border-radius: 100%;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:768px) {
    .hero {
        flex-direction: column;
        height: fit-content;
    }


    .boximg>img {
        width: 50%;
    }

    .whatsapp {
        display: none;
    }

    section {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 100%;
    }

    .coupon {
        width: 100%;
    }

}