* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  height: 10svh;
  display: flex;
  flex-direction: row;
}

.bg-yellow {
  background-color: #FDBD03;
  border-radius: 150%;
  display: flex;
  justify-content: center;
  width: 4em;
  height: 4em;
  margin-left: 1.5em;
}

.head img {
  width: 50%;
}

.bordered {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2em;
}

.top-border {
  background-color: #FDBD03;
  width: 25vw;
  height: 1svh;
}

main {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

main .phone img {
  width: 90%;
}

h1 {
  font: normal normal 900 66px/97px Heebo;
  color: #FDBD03;
}

p {
  font: normal normal normal 20px/29px Heebo;
  color: #020253;
}

label {
  color: #2C2C2C;
  font: normal normal bold 16px/24px Heebo;
}


.text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: end;
  gap: 1.2em;
}

.text form {
  direction: rtl;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1.2em;
}

input,
textarea {
  border: 0;
  border-bottom: #FDBD03 solid 4px;
  background-color: #E5EEFF;
  padding: 0.5em;
  padding-left: 10em;
}

input[type=submit] {
  font: normal normal bold 22px/30px Heebo;
  background-color: #FDBD03;
  border: 0;
  width: 6em;
  padding: 0em;
  height: 2em;
}

.border {
  width: 45%;
  background-color: #FDBD03;
  height: 1svh;
  position: absolute;
  bottom: 0;
  margin: 0;
}

.socials {
  display: flex;
  margin-top: -2em;
}

.socials div i {
  align-self: center;
}