* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

:root {
  --main-color: rgb(70, 88, 252);
}

.bg {
  background-color: #fff;
  padding: 1em;
}

.black {
  color: #000;
}

.bg-alt {
  background-color: #666;
  padding: 1em;
}

i {
  color: var(--main-color);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-rows {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.6rem;
  font-size: 1.3rem;
  font-weight: bolder;
  color: var(--main-color);
  border: 3px solid rgb(70, 88, 252);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(70, 88, 252);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.btn:hover::before {
  transform: translateX(0);
}

.btn:hover {
  transition: all 0.35s;
  color: #222;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  background-color: #fff;
}

section {
  width: 90%;
  margin: auto;
}

.social {
  gap: 1rem;
  padding: 1.5em;
  justify-content: center;
}

.heading > h1 {
  font-size: 3em;
}

.heading > h1 > span {
  color: var(--main-color);
}

header {
  width: 90%;
  margin: auto;
  margin-bottom: 5em;
  margin-top: 5em;
}

.nav,
.navbar {
  position: sticky;
  top: 0;
  gap: 0.5em;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-color: #fff;
}

.tech {
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#about {
  margin-top: 2em;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

h2 {
  font-size: 4rem;
}

.about-text > p {
  font-size: 2rem;
}

.about-text {
  gap: 5em;
}

.about-image img {
  border-radius: 25rem;
}

#projects {
  margin-top: 2em;
  margin-bottom: 2em;
}

#projects > h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

#projects > ul li {
  margin: 1.5em;
  border: 1px solid #000;
  background-color: #666;
  border-radius: 2.5em;
}

.p-item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.thumbnail {
  margin-top: 0.2em;
  border-radius: 2.5em 2.5em 0 0;
  width: 98%;
}

.stack {
  width: 50%;
  justify-content: space-evenly;
}

.links {
  margin-bottom: 0.8em;
}

.contact-img i {
  display: block;
}

#contact > .flex-rows {
  gap: 5em;
}

#contact {
  width: 100%;
  font-size: 1.5em;
}

#contact input {
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.5em;
  font-size: 1em;
}

#contact input[class*=nn],
#contact textarea {
  border-bottom: 5px solid var(--main-color);
}

#contact textarea {
  margin-bottom: 1.2em;
  font-size: 1.5rem;
}

#contact label {
  margin: 0.2em;
  font-weight: bolder;
  color: #000;
}

#contact > div > .contact-img {
  padding-left: 5em;
}/*# sourceMappingURL=main.css.map */